.Login-button {
  color: white;
  display: block;
  font-size: 40px;
  height: 160px;
  margin: 10px auto;
  width: 600px;
  border-radius: 8px;
}

.Login-button:hover {
  opacity: 0.9;
}

.Login-email {
  background-color: darkgray;
}

.Login-fb {
  background-color: rgb(72, 98, 163);
}

.Login-mm {
  background-color: rgb(55, 53, 55);
}

body{
  background-size: cover;
  background-image: url('background.jpg');
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
